
@{
    ViewBag.Title = "_layout2";
}


<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Tu código de encabezado aquí -->
</head>
<body>
    <!-- Tu código de cuerpo aquí -->

    @RenderBody()

    @RenderSection("Scripts", required: false)
</body>
</html>
