<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gimnasio Vitality</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Gimnasio Vitality</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Servicios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                </li>
            </ul>
            @using Microsoft.AspNet.Identity
            @if (User.Identity.IsAuthenticated)
            {
                var userName = User.Identity.GetUserName();

                using (Html.BeginForm("Logout", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-form" }))
                {
                    @Html.AntiForgeryToken()

                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <span class="navbar-text">Hola, @userName!</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a>
                        </li>
                    </ul>
                }
            }
        </div>
    </nav>

    <div class="container">
        <h1 class="mt-5">¡Bienvenido a Gimnasio Vitality!</h1>
        <p class="lead">Vitalidad Total: Tu Destino para una Vida Activa y Saludable.</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
