@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    --color-fondo: #EBF1F4;
    --color-primario: #069cd2;
    --color-blanco: #ffffff;
    --color-negro: #2A3133;
    --color-rojo: #e00202d2;
    --color-verde: #16aa39;
    --color-amarillo: #f0b607;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 1.6rem;
    background-color: var(--color-fondo);
}

h1, h2, h3 {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
/****** globales  ****/
.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    padding: 3.5rem 0;
}

.btn {
    display: inline-block;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--color-verde);
    color: var(--color-blanco);
    font-size: 1.4rem;
    border: none;
    cursor: pointer;
}

.btn--details {
    background-color: var(--color-amarillo);
}

.btn--delete {
    background-color: var(--color-rojo);
}

.btn--top {
    margin-top: 2rem;
}
/*   formularios   */
.form {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 2rem;
    border-radius: 6px;
    background-color: #2e5b6b;
}

.form__group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.2rem;
}

.form__label {
    color: var(--color-blanco);
}

.form__input {
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 6px;
}

.form--check {
    background-color: red;
    text-align: left;
    width: 20px;
}
/*     tablas   */
.table {
    width: 100%;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-align: left;
}

    .table thead {
        background-color: var(--color-primario);
    }

    .table th {
        padding: 1.8rem 0.5rem;
        font-weight: 500;
        color: var(--color-blanco);
    }

    .table td {
        padding: 0.3rem 0.5rem;
    }


/****** estilos del login  ******/
.login {
    width: 100%;
    height: 100vh;
    color: var(--color-blanco);
    background-image: url('https://i.pinimg.com/736x/fd/b6/0a/fdb60a9342f876ecc16b2be24b9255a5.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

    .login::before {
        content: '';
        position: absolute;
        z-index: -9;
        top: 0;
        left: 0;
        display: block;
        background-color: rgb(0 0 0 /.6);
        width: 100%;
        height: 100%;
    }

.login__titles {
    padding-top: 10rem;
    text-align: center;
}

.login__h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.login__p {
    max-width: 35ch;
    margin: 0 auto;
}

.login__form {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    margin-top: 5rem;
}

.login__input::placeholder {
    color: rgb(207, 207, 207);
}

.login__user, .login__password {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    background-color: rgb(255 255 255 /.1);
}

.login__user {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 2px solid rgb(255 255 255 /.2);
}

.login__password {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.login__input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    padding: 0px;
}

.login__forgot {
    display: block;
    margin-top: 1rem;
    font-size: 1.3rem;
    color: rgb(255 255 255 /.7);
}

    .login__forgot:hover {
        color: #fff;
    }

.login__btn {
    margin-top: 2rem;
    width: 100%;
    border: none;
    background-color: #069CD2;
    color: #fff;
    padding: 1.5rem;
    border-radius: 99px;
    font-size: 1.8rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.login__new {
    color: #fff;
    display: block;
    text-align: center;
    margin-top: 3rem;
    color: rgb(255 255 255 /.8);
}

    .login__new:hover {
        color: #fff;
    }
/*****  estilos del header  ******/
.header {
    width: 100%;
    height: 7rem;
    color: var(--color-primario);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color: var(--color-blanco);
}

    .header .container {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }

@media screen and (max-width:1023px) {
    .header__nav {
        background-color: var(--color-blanco);
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        box-shadow: 4px 0px 6px -1px rgb(0 0 0 / 0.1), 2px 0 6px -2px rgb(0 0 0 / 0.1);
        padding: 7rem 1rem 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transform: translateX(-100%);
        transition: all .3s ease;
    }

    .toggle {
        transform: translateX(0%);
    }
}

.header__menu {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.header__link {
    color: var(--color-negro);
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

    .header__link:hover {
        color: var(--color-primario)
    }

.header__link--color {
    color: var(--color-primario);
}

.header__user {
    color: var(--color-primario);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

    .header__user p {
        display: flex;
        align-items: center;
        color: var(--color-negro);
    }

    .header__user a {
        color: var(--color-rojo);
        display: flex;
        align-items: center;
    }

        .header__user a:hover {
            text-decoration: underline;
        }

.header__icon-menu {
    cursor: pointer;
}

/******* estilos del panel ********/
.panel__h1 {
    color: #093448;
    font-size: 4rem;
}

.panel__content {
    margin-top: 3rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.panel__card {
    width: 100%;
    height: 160px;
    border-radius: 12px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

    .panel__card:nth-child(1) {
        background-color: var(--color-primario);
    }

    .panel__card:nth-child(2) {
        background-color: #065BD1;
        color: var(--color-blanco);
    }

    .panel__card:nth-child(3) {
        background-color: #4D9066;
        color: var(--color-blanco);
    }

    .panel__card:nth-child(4) {
        background-color: #5565AE;
        color: var(--color-blanco);
    }

.panel__title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.panel__h2 {
    font-size: 1.8rem;
}

.panel__number {
    font-weight: 700;
    font-size: 3.5rem;
}

/******* estilos de productos ********/
.product__h2 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

/** crear producto  **/
.newproduct {
    text-align: center;
}

    .newproduct form {
        display: grid;
    }
/** editar producto **/
.editproduct {
    text-align: center;
}

    .editproduct form {
        display: grid;
    }
/** detalles producto  **/
.detailsproduct {
    text-align: center;
}

.dl-horizontal {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    text-align: left;
    margin-top: 2rem;
    background-color: var(--color-primario);
    background-color: #2e5b6b;
    padding: 2rem;
    border-radius: 6px;
    color: var(--color-blanco);
    display: grid;
}

    .dl-horizontal dt {
        font-weight: 600;
    }

    .dl-horizontal dd {
        margin-bottom: 2rem;
        color: #dbdbdb;
    }
/** eliminar producto  **/
.deleteproduct {
    text-align: center;
}


/***** responsive md : 768px *********/
@media screen and (min-width:768px) {
    .newproduct form {
        grid-template-columns: repeat(2, 1fr);
    }

    .editproduct form {
        grid-template-columns: repeat(2, 1fr);
    }

    .dl-horizontal {
        grid-template-columns: repeat(2, 1fr);
    }
}

/***** responsive lg : 1024px *********/
@media screen and (min-width:1024px) {
    .header {
        height: 9rem;
    }

    .header__nav {
        display: flex;
        align-items: center;
    }

    .header__icon-menu {
        display: none;
    }

    .header__menu {
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }

    .header__user {
        padding-left: 5rem;
        flex-direction: row;
        align-items: center;
        gap: 1.2rem;
    }

    .panel__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .panel__number {
        font-weight: 700;
        font-size: 4rem;
    }
}
